# Домашнее задание 3
### Линейная и логистическая регрессия

Оформление дз:
Присылайте выполненное на почту `mlphystech@gmail.com` файлы .pdf и .ipynb или ссылку на свой гитхаб.

**Дедлайн: 11 апреля 23:59**

*Зуева Надежда*

ФИВТ МФТИ

Это задание будет посвящено линейной и логистической регрессии.
Мы надеемся, что вы уже знаете, что такое `kaggle`, так как сегодня нам предстоит поработать с самым *классическим* датасетом машинного обучения, а именно $-$ с Титаником!


Цель соревнования $-$ предсказать, кто из пассажиров выживет, а кто, увы, нет.

https://www.kaggle.com/c/titanic

## Теоретические вопросы
### 2 балла (по 0.5 за каждый верный ответ)
1. Что такое линейные модели классификации и регрессии? В чем их основные свойства? Где хорошо работают?
2. Что такое регуляризация и как она используется? 
3. Что такое MSE? Приведите пример.
4. Что такое градиентный спуск? Опишите базовый алгоритм работы.

P.S. просьба не копипастить из Википедии. Это все легко вычисляется и будет караться :)

## Задание 1 (4 балла)
Скачайте файлы `train.csv` и `test.csv`.

Выведите первые 10 строк из `train.csv`

In [65]:
from copy import deepcopy as dc
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import accuracy_score, mean_absolute_error, mean_squared_error


data = pd.read_csv("./train.csv") #считайте данные из файла train.csv

In [66]:
#выведите первые 10 строк из data
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

Как мы видим, не все данные *

полны*. Например, это видно в столбце `Age`. 
В качестве простейшего решения мы предлагаем заменить пропущенные значения на медианные (функция `numpy.median`)
Вы можете воспользоваться нашим методом или произвести собственный анализ и заменить значения более умным способом (profit: бонусные баллы).

In [67]:
# Replace all the missing ages in the data with the median age
df = dc(data)
df["Age"] = df["Age"].fillna(df["Age"].median())

Теперь займемся **оцифровкой признаков**

Кстати, напомните, а зачем нам это нужно? :)

$*$ ваш ответ $*$

Какой параметр здесь бинарный? Оцифруйте его при помощи нулей и единиц.

# Ответ

** Потому что с числами удобнее работать, чем со строками **

In [68]:
df.loc[df["Sex"] == "male", "Sex"] = 0 #тут что-то должно быть
df.loc[df["Sex"] == "female", "Sex"] = 1 #тут что-то должно быть

Выведите описание нашего датасета после изменений с помощью функции `describe`.
Сколько процентов пассажиров выжило? Каков был средний возраст всех пассажиров?

In [69]:
print(df.describe())
# df.head(10)

       PassengerId    Survived      Pclass         Sex         Age  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642    0.352413   29.361582
std     257.353842    0.486592    0.836071    0.477990   13.019697
min       1.000000    0.000000    1.000000    0.000000    0.420000
25%     223.500000    0.000000    2.000000    0.000000   22.000000
50%     446.000000    0.000000    3.000000    0.000000   28.000000
75%     668.500000    1.000000    3.000000    1.000000   35.000000
max     891.000000    1.000000    3.000000    1.000000   80.000000

            SibSp       Parch        Fare
count  891.000000  891.000000  891.000000
mean     0.523008    0.381594   32.204208
std      1.102743    0.806057   49.693429
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    7.910400
50%      0.000000    0.000000   14.454200
75%      1.000000    0.000000   31.000000
max      8.000000    6.000000  512.329200

Продолжим заполнять пропуски. Рассмотрим графу пунктов отправления `Embarked` 

Там есть типы данных:

C = Cherbourg, Q = Queenstown, S = Southampton, а также `nan`

In [70]:
print(df["Embarked"].unique())
print(df['Survived'].mean())
print(df['Age'].mean())

['S' 'C' 'Q' nan]
0.383838383838
29.3615824916

In [71]:
import collections
print(collections.Counter(df['Embarked']))

Counter({'S': 644, 'C': 168, 'Q': 77, nan: 2})

С учетом последней ячейки заполните пропущенные значения по своему усмотрению. Объясните свой выбор, затем оцифруйте признак `Embarked` 

Например, заменив все на {0,1,2} или {12,42,10}, как хотите :)

In [72]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",0,28.0,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",0,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,30.0708,NaN,C

In [73]:
df["Embarked"] = df["Embarked"].fillna("S")
# тут ваш код c оцифровкой
# df = df[pd.notnull(df['Embarked'])]

df.loc[df['Embarked'] == 'S', 'Embarked'] = 0
df.loc[df['Embarked'] == 'C', 'Embarked'] = 1
df.loc[df['Embarked'] == 'Q', 'Embarked'] = 2
print(df["Embarked"].unique())

[0 1 2]

Разобьем выборку на `X` и `y`, где для`y` будем строить предсказания

In [74]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [75]:
y = pd.Series(df['Survived'])

In [76]:

df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
X = df.copy()
X.drop('Survived', axis = 1, inplace=True)

'''
X.drop('Survived', axis=1, inplace=True)
X.drop('Name', axis=1, inplace=True)
X.drop('Ticket', axis=1, inplace=True)
X.drop('Cabin', axis=1, inplace=True)
'''

"\nX.drop('Survived', axis=1, inplace=True)\nX.drop('Name', axis=1, inplace=True)\nX.drop('Ticket', axis=1, inplace=True)\nX.drop('Cabin', axis=1, inplace=True)\n"

Каким образом можно отобрать фичи, которые будут влиять на наш скор? Тут нам помогут ваш жизненный опыт и ` Recursive Feature Elimination` из библиотеки `Sklearn`

In [77]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression, LinearRegression
model = LinearRegression()
#тут ваш код

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

model.fit(x_train, y_train)

Z = model.predict(x_test)
print(mean_absolute_error(Z, y_test))
print(mean_squared_error(Z, y_test))

0.286438181234
0.1328524492

Проверьте, похожи ли отобранные вами фичи на те, что представленны ниже?

In [78]:
features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]

In [79]:
kfold = KFold(random_state=1)
X = df[df.columns[2:]].values

Выполним предсказания:

In [80]:
predicts = []
for train, test in kfold.split(X):
    #тут ваш код
    model.fit(X[train], y[train])
    predicts.append(model.predict(X[test]))
predicts = np.concatenate(predicts)

#print (predicts)
print(predicts)

predicts[predicts > 0.5],predicts[predicts < 0.5] = 1,0


accuracy = np.count_nonzero(df["Survived"] == predicts)/df["Survived"].count()
print ('Скор для линейной регрессии:',accuracy)

[ 0.15787598  0.81697641  0.7364616   0.77112227  0.17680262  0.21768048
  0.23203556  0.08618961  0.63185549  0.77801143  0.70274836  0.70922536
  0.20860228 -0.09948925  0.76174698  0.69258599  0.08414442  0.20243361
  0.70308317  0.74326958  0.21593414  0.18971374  0.78515641  0.25148425
  0.61432143  0.44372767  0.20241789  0.5228133   0.7572697   0.1913063
  0.2216596   1.0021961   0.75698804  0.1164244   0.32105957  0.21303272
  0.20242705  0.2064823   0.68590055  0.73696345  0.66541863  0.71810317
  0.20388026  0.71693951  0.7763495   0.19164246  0.18828926  0.75698804
  0.14444381  0.73020687  0.07142318  0.2059373   0.80552888  0.72476336
  0.1886043   0.25148425  0.75267506  0.20136706  0.66997754 -0.02081576
  0.21514691  0.86814744  0.27528919  0.04208819  0.24709933  0.12042098
  0.73571524  0.21095836  0.46709177  0.10773303  0.18850362  0.50943604
  0.34916519  0.17767539  0.28877579  0.19713038  0.1913063   0.19164246
  0.18543353  0.73790082  0.20643335  0.19268353  0.75706979  0.27677259
  0.76115497  0.6046715   0.06550864  0.19164246  1.05518507  0.20012237
  0.18952249  0.20817543  0.22455457  0.06896463  0.12417914  0.19164246
  0.17105531  0.28064983  0.69762555  0.17331179  0.73215798  0.1913063
  0.30268189  0.18235975  0.08280551  0.1913063   0.74646197  0.19104296
  0.17010653  0.74799819  0.24717516  0.74290681  0.20436233  0.70858119
  0.78235813  0.2062098   0.12603733  0.17301153  0.68000941  0.5497951
  0.25968054  0.19164246  0.19794017  0.73374539  0.23272264  0.20035172
  0.21613636  0.19814225  0.67677812  0.15325932  0.19328037  0.20642225
  0.66153344  0.72476336  0.20879354  0.23006735  0.68184274  0.22603064
  0.21962563  0.36780537  0.65127483  0.74456     0.71323595  0.23303613
  0.22036334  0.1738066   0.19320828  0.631198    0.10327385  0.17275392
  0.15263861  0.82811237  0.13334309  0.06972361  0.19003469  0.21697597
  0.78239137  0.18740251  0.19297773 -0.1417047   0.1205319   0.72384064
  0.19528291  0.21629748  0.08414304  0.14963757  0.78010634  0.47602514
  0.23061048  0.2972557   0.17716494  0.07990447  0.69697273  0.2062098
  0.19422555  0.1129329   0.04064423  0.74347344  0.19819365  0.15713341
  0.39914698  0.21947662 -0.00565117  0.17212893  0.70435918  0.28309467
  0.72914094  0.19593338  0.10810937  0.17434648  0.73480538  0.2215134
  0.70640476  0.18429093  0.75403137  0.98333911  0.21613636  0.10799479
  0.75698804  0.7517652   0.1948035  -0.1417047   0.1755344   0.16531829
  0.21284224  0.73813271  0.15542445  0.23186443  0.78242777  0.22880835
  0.19794234  0.74588568  0.2026183   0.19819365  0.17139403  0.92335937
  0.73434162  0.158532    0.88535706  0.19274358  0.21708219  0.20455358
  0.14288298  0.1913063   0.30435372  0.20719636  0.21606333  0.20579827
  0.22363338  0.58149591  0.83734065  0.18892298  0.13780432  0.54368042
  0.20546344  0.73140413  0.15211202  0.7050899   0.21606333  0.1902532
  0.71428711  0.72914094  0.19486356  0.2023458   0.19817794  0.27203944
  0.73825457  0.64555492  0.17010062  0.13091224  0.18989844  0.636151
  0.15989377  0.16020941  0.62196872  0.64915485  0.90017715  0.89927745
  1.82957143  0.670246    0.21613636  0.00706869  0.19737058  0.1486535
  0.75698804  0.18002372  0.05234339  0.15266056  0.9311581   0.99578957
  0.24167412  0.18045316  0.67515561  0.17759408  0.75698804  0.76595472
  0.69580052  0.17409323  0.07354453  0.64476817  0.1376972   0.19121561
  0.22024323  0.21072226  0.23077398  0.1949518   0.19056355  0.20402617
  0.17275392  0.76970791  0.89108014  0.90041161  0.19777524  0.74271808
  0.19978621  0.24709933  0.21196695  0.99094097  0.23088485  1.09995038
  0.7305966   0.12276541  0.20338137  0.74014355  0.18429159  0.47519201
  0.93120033  0.91085812  0.16290341  0.81126786  0.88956897  1.11077445
  0.66224009  0.18397156  0.07509793  0.71188469  0.69752195  0.09322701
  0.96321092  0.84518092  0.20649588  0.187949    0.73218868  0.6843761
 -0.22254651  0.95074757  0.04927448  0.68279004  0.63098996  0.84180418
  0.64281     0.15712886  0.41898272  0.13271563  0.90503152  0.18397156
  0.24185236  0.92850831  0.11667517  0.17364554  0.23765397  1.01478762
  0.19456494  0.20649725  0.16274545  0.73051928  0.66688029  0.66106551
  0.21271476  0.12987868  0.2066174   0.24022425  0.16043146  0.15648145
  0.19602089  0.18730096  0.79831494  0.67483517  0.73086475  0.73086475
  0.00847371  0.17460308  0.63612572  0.15437412  0.16665871  0.17467638
  0.66999035  0.7160742   0.7305966   0.86080713  0.24804543  0.16086251
  0.22008852  0.48638709  0.62354401  0.81163191  0.72654047  0.56930143
  0.22117309  0.21951778  1.11759712  0.78647805  0.16812242  0.70773115
  0.18397156  0.35990241  0.01776944  0.68279004  0.21050884  0.76972743
  0.27018392  0.21160608  0.0640765   0.89607348  0.68354436  0.20762864
  0.69199751  0.14995158  0.20926357  0.71388314  0.14028036  0.19224647
  0.67588429  0.14050207  0.73742688  0.12732588  0.09218792  0.21862972
  0.21156291  0.53322273  0.18397156  0.20870135  0.82143515  0.16758444
  0.12039318  0.70433619  0.64391085  0.69972992  0.18661007  0.75469038
  0.19741309  0.23835941  0.17995096  0.6302103   0.16200347  0.18263126
  0.68161221  0.77738697  0.21055201  0.16838185  0.22268693  0.66106551
  0.62592809  0.22612363  0.13611916  0.87773212  0.61220412  0.54051633
  0.40094724  0.17744407  0.58718765  0.21912045  0.13567533  0.71460953
  0.18442131  0.37827956  0.76043434  0.19882231  0.68523807  0.13542637
  0.07872613  0.14904596  0.23066408  0.22245089  0.18429159  0.19343565
  0.07552177  0.73528784  0.62191737  0.21055201  0.14313819  0.16042697
  0.17191694  0.11501621  0.18429159  0.14244181  0.16758444  0.1113187
  0.21050012  0.70214217  0.18263126  0.14578843  0.61070303  0.74958135
  0.73191063  0.27550645  0.12732588  0.11825219  0.2070579   0.78921716
 -0.01405005  0.16758444  0.09678799  0.56831687  0.32200833  0.53322273
  0.78659724  0.12334293  0.17633672  0.18885014  0.14904596  0.21047331
  0.12349406  0.11273835  0.21213365  0.21103305  0.7001159   0.19892333
  0.89945992  0.19967377  0.22931459  0.75843866  0.73034589  0.67173022
  0.91488238  0.38683609  0.66704887  0.22268693  0.21433335  0.29279201
  0.20657457  0.18429159  0.19032263  0.66095951  0.19905114  0.1626207
  0.68555636  0.24458895  0.64979271  0.16806182  0.87372623  0.20783618
  0.19602089  0.73043595  0.19602961  0.16083405  0.62191737  0.62787015
  0.14028036  0.06405634  0.75769857  0.19602961  0.15247659  0.69281951
  0.69765251  0.77098108  0.1550705   0.9139926   0.19767808  0.77301464
  0.74851061  0.53354388  0.52558901  0.14565786  0.25442144  0.07835772
  0.71740914  0.20979651  0.10299049  0.23610015  0.40025356  0.22552288
  0.21071638  0.21988551  0.72763007  0.08745408  0.64373075  0.65323664
  0.72187987  0.63194407  0.21055201  0.13624232  0.19560265  0.18429159
  0.70433619  0.11365999  0.21976849  0.61808317  0.19602961  0.16797548
  0.05414354  0.57507858  0.19053018  0.7305966   0.23202083  0.23347501
  0.69074491  0.69991556  0.67109981  0.16812242  0.67451922  0.80014371
  0.11813209  0.23248282  0.19910808  0.83805688  0.12314449  0.13081669
  0.20815621  0.18429159  0.15452977  0.70807077  0.10705996  0.67594262
  0.12827359  0.1232329   0.76208029  0.11572004  0.20660481  0.16770796
  0.64447617  0.18231149  0.23313663  0.14066371  0.21675052  0.11549779
  0.17707712  0.21822496  0.74868549  0.90811698  0.64893534  0.18106561
  0.72971442  0.23265956  0.16421835  0.75266886  0.11410538  0.68526975
  0.71449597  0.19138187  0.16271972  0.15430238  0.17800369  0.20057048
  0.21271666  0.13192283  0.16353714  0.84662474  0.18754585  0.23263496
  0.0787778   0.12087661  0.23042047  0.17068087  0.62297583  0.73262002
  0.17188577  0.13941214  0.71324368  0.1372454   0.20318766  0.85130083
  0.6412961   0.25389994  0.71920345  0.1994908   0.20586612  0.17497316
  0.18180212  0.73767801  0.18231149  0.76858918  0.2014235   0.77556621
  0.80014835  0.17511412  0.18231149  0.71431288  0.20291595  0.27443681
  0.19566914  0.17519862  0.15864514  0.16078482  0.14614097  0.15417666
  0.19768159  0.18213355  0.14328089  0.73291656  0.6774284   0.18227503
  0.07622586  0.18197849  0.17068087  0.20830537  0.19169876  0.75413963
  0.65654964  0.9247598   0.77602034  0.31160261  0.20520687 -0.01921477
  0.08229478  0.19804396  0.0322449   0.20921723  0.208336    1.05386438
  0.1896401   0.81639482  0.25389994  0.21445635  0.12603955  0.12775418
  0.14066371  0.77542494  0.24225026  0.14530887  1.04292048  0.19108243
  0.78128252  0.24049888  0.13033359  0.18019021  0.68886444  0.17276216
  0.95240912  0.15633577  0.82214135  0.20978937  0.13778294  0.18203271
  0.12701767  0.20550406  1.04772782  0.73155467  0.24407541  0.16904763
  0.81472549  0.15270982  0.17412695  0.13225203  0.19436408  0.2043783
  0.56771682  0.77543113  0.15967978  0.67584505  1.02215664  0.26812862
  0.17068087  0.20291595  0.20291595  0.19308779  0.63981265  0.93230979
  0.18231149  0.18231149  0.21487127  0.20873953  1.01938687  0.14771413
  0.17450295  0.10325938  0.16983179  0.72738566  0.21530153  0.22480801
  0.74807874  0.24170191  0.17158858  0.1953974   0.68985649  0.20148336
  0.18216418  0.21379234  0.16683553  0.8278006   0.19203956  0.14715272
  0.22754845  0.80227841  0.21353973  0.7109583   0.25429362  0.76890659
  0.199666    0.17253021  0.19514322  0.12990657  0.65303921  0.20660481
  0.60735403  0.20826854  0.23265956  0.79204188  0.23264115  0.98058329
  0.78865871  0.76907063  0.21225409  0.13820644  0.18891716  0.18921176
  0.75068408  0.08295213  0.20463544  0.26551567  0.23265956  0.2403854
  0.34884547  0.24117761  0.19016303  0.16104104  0.69670409  0.71840992
  0.20137663  0.68172597  0.17412695  0.68220212  0.32491798  0.27575658
  0.18357232  0.174282    0.14189186  0.75109535  0.16104104  0.72145097
  0.18753362  0.17746514  0.16782723  0.57864781  0.17599567  0.17068087
  0.73823039  0.18053464  0.14092407  0.07756866  0.72630145  0.18605803
  0.14450905  0.72953107  0.06365109  0.23148115  0.25389994  0.31126828
  0.23265956  0.74232773  0.73691589  0.20732492  0.20661099  0.19533612
  0.2090787   0.77037277  0.20176112  0.18253862  0.24343121  0.23971078
  0.20329195  0.21755369  0.77918132  0.18843313  0.21222985  0.14516157
 -0.19394452  0.18927263  0.2143575   0.81285297  0.04109219  0.06174317
  0.74885221  0.79798096  0.6527433   0.74848254  0.84974583  0.14959418
  0.76279032  0.20661099  0.04313725  0.14878981  0.69932127  0.34884547
  0.20029877  0.69597947  0.70463193  0.23721031  0.18467449  0.18780895
  0.18754585  0.67907365  0.16496002  0.13421153  0.71695361  0.78341816
  0.20612132  0.20586612  0.18231149  0.78303166  0.75468794  0.16922557
  0.74466518  0.18614751  0.18891716  0.75348219  0.19244722  0.78121589
  0.68099643  0.24538705  0.22219083]
Скор для линейной регрессии: 0.785634118967

## Задание 2 (2 балла)
Теперь попробуем проделать то же самое для **логистической регрессии**

http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [81]:
model = LogisticRegression()

Вычислим оценку точности для всех кросс-валидационных фолдов: возвращаем массив баллов из 3-х фолдов

In [82]:
#тут ваш код

print("Скор для логистической регрессии: " + str(scores.mean()))

NameError: name 'scores' is not defined

###### Как бы вы объяснили прирост качества в логистической регрессии? 
Сможете побить наш бейзлайн? :)

## Задание 3 (1.5 балла)
Отправьте ваше решение в тестирующую систему и посмотрите, какое место вы займете

рассмотрим `test.csv`

In [ ]:
df_test = pandas.read_csv("test.csv")
print(df_test.describe())

Надо вернуть оцифрованные данные к первоначальному виду:

In [ ]:
#тут ваш код по возвращению оцифрованных параметров в первоначальный вид

df_test["Fare"] = df_test["Fare"].fillna(df_test["Fare"].median())

model.fit(#тут ваш код)
predicts = model.predict(#тут ваш код)

submission = pandas.DataFrame({
    "PassengerId": df_test["PassengerId"],
    "Survived": predicts
})

submission.to_csv("submission.csv", index=False) #вот это отправляется в каггл

Можете попробовать и дальше "поиграться" с параметрами, чтобы подняться в лидерборде. Например, попробовать подобрать параметры в регрессорах. 
Удачи!
    Напоминаем, что справку по любой функции (в том числе и по регрессорам) можно получить, если с наведенным курсором на функцию нажать `Tab`+`Shift`